<%  content_for :header do%>
  <title>后台管理</title>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag '/ext-4.1.1a/resources/css/ext-all.css' -%>

  <%= javascript_include_tag '/ext-4.1.1a/ext-all.js'  -%>
  <%= javascript_include_tag '/ext-4.1.1a/examples/ux/CheckColumn.js'  -%>
  <%= javascript_include_tag 'admin' %>

  <script type="text/javascript">
    Ext.onReady(function() {

      Ext.QuickTips.init();

      var topPanel = new Ext.Panel({
        bbar: ['<b style="font-size:14px;">后台管理---欢迎您：<%= current_user.email %></b>', '->','<img src="assets/system/user_go.png"/><font style="font-size:13px;">','<%= link_to "登出系统", destroy_user_session_path, method: :delete %>','</font>'],
        cls:'empty',
        region:'north'
      });

      //中央工作区
      var workTabs = new Ext.tab.Panel({
        region:'center',
        margins:'5 5 5 0',
        activeTab: 0,
        enableTabScroll:true,
        defaults: {autoScroll:true}
      });

      var south = new Ext.Component({
        region: 'south',
        margins:'5 0 0 5',
        height: 22,
        autoEl: {
          tag: 'div',
          html:'<div style="font-size:12px;text-algin:center;"><center>&nbsp&nbsp&nbsp</center></div>'
        }
      })

      //系统提醒，Panel
      var reminderPanel = new Ext.Panel({
        title: '欢迎页面',
        id:'reminder_panel',
        defaults:{margins:'5 5 5 5'},
        listeners: {
        }
      });

      workTabs.add(reminderPanel).show();

      //左边的菜单栏
      var accordition = new Ext.Panel({
        region:'west',
        margins:'5 0 5 5',
        split:true,
        width: 140,
        layout:'accordion'
      });

      var menus = eval(<%=raw(@menus)%>);
      if (!menus) { return; }
      for (var i = 0; i < menus.length; i++) {
        var item = menus[i];

        var title = "<div style='background:url(" + item.image +
          ") no-repeat;padding-left:20px;'>" +
          item.name +
          "</div>";
        for (var j = 0; j < item.children.length; j++) {
          var o = item.children[j];
          o.text = o.name;
          o.icon = o.image;
        }
        var node = new Ext.tree.TreePanel({
          title: title,
          rootVisible: false,
          lines: false,
          autoScroll: true,
          qtips: item.qitps,
          root: {
            editable: false,
            expanded: true,
            text: item.name,
            draggable: false,
            children: item.children
          },
          listeners: {
            itemclick: function(view,re) {
              if(Ext.getCmp('tab'+re.data.id)){
                dynamicPanel = Ext.getCmp('tab'+re.data.id)
              }else{
                var dynamicPanel = new Ext.Component({
                  title: re.data.text,
                  id: 'tab'+re.data.id,
                  closable: true,
                  loader: {
                    url: re.data.hrefTarget,
                    contentType: 'html',
                    scripts: true
                  },
                  listeners: {
                    activate: function(tab) {
                      tab.loader.load();
                    }
                  }
                });
                workTabs.add(dynamicPanel);
              }
              workTabs.setActiveTab(dynamicPanel);
            }
          }
        });
        accordition.add(node);
      }

      new Ext.Viewport({
        layout:'border',
        items:[topPanel,accordition,workTabs,south]
      });
    });
  </script>
<%end%>