<% content_for :header do%>
  <title>rails3_extjs4</title>
<% end %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>大头贴</th>
      <th>时期</th>
      <th>型号</th>
      <th>英文名</th>
      <th>中文名</th>
    </tr>
  </thead>
  <tbody>
    <% @gundams.each do |gundam| %>
      <tr>
        <td><%= link_to image_tag(gundam.avatar.try(:thumb).try(:url)), gundam %></td>
        <td><%= "#{gundam.dimension_name} #{gundam.period_year}" %></td>
        <td><%= link_to gundam.model, gundam %></td>
        <td><%= link_to gundam.name, gundam %></td>
        <td><%= link_to gundam.name_chs, gundam %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @gundams, :renderer => BootstrapPagination::Rails %>