<h1><%= @gundam.name %></h1>
<table class='table table-striped version_list'>
  <% @gundam.unmerge_versions.each_with_index do |version,index| %>
    <tr data-version='<%= version.id %>'>
      <td>#<%= index+1 %></td>
      <td><%= version.created_at %></td>
      <td><%= version.version %></td>
    </tr>
  <% end %>
</table>
<!--<%= @version.id %>-->
<div id='diff_form'>
  <%= render :partial => 'show_diff', :locals => { gundam: @gundam, version: @version } %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.version_list tr').click(function(){
      $.ajax({
        type: 'get',
        url: '/versions/'+$(this).attr('data-version'),
        dataType: 'script'
      })
    })
  })
</script>
