<h1><%= @gundam.name %></h1>
<table class='table table-striped'>
  <% @gundam.versions.each do |version| %>
    <td><%= version.created_at %></td>
    <td><%= version.version %></td>
  <% end %>
</ul>
<% @version = @gundam.versions.first %>
<!--<%= @version.id %>-->
<div class='diff_form'>
  <%= render :partial => 'show_diff', :locals => { gundam: @gundam, version: @version } %>
</div>
