<div>
    <table class="table table-bordered table-hover">
      <tr width="250px">
        <td colspan="2" rowspan="12" width='50%'><div><%= image_tag(@gundam.avatar_url(:big)) %></div></td>
        <td class="attribute">版本</td>
        <td class='value'><%= params[:id] %></td>
      </tr>
      <tr>
        <td class="attribute">年代</td>
        <td class='value'><%= "#{raw showdiff(gundam,version,"period","year")} #{raw showdiff(gundam,version,"period","name")}" %></td>
      </tr>
      <tr>
        <td class="attribute">型号</td>
        <td class='value'><%= raw showdiff(gundam,version,"model") %></td>
      </tr>
      <tr>
        <td class="attribute">英文</td>
        <td class='value'><%= raw showdiff(gundam,version,"name") %></td>
      </tr>
      <tr>
        <td class="attribute">日文名</td>
        <td class='value'><%= raw showdiff(gundam,version,"name_jp") %></td>
      </tr>
      <tr>
        <td class="attribute">中文名</td>
        <td class='value'><%= raw showdiff(gundam,version,"name_chs") %></td>
      </tr>
      <tr>
        <td class="attribute">机体类型</td>
        <td class='value'><%= raw showdiff(gundam,version,"usage","name") %></td>
      </tr>
      <tr>
        <td class="attribute">制造商</td>
        <td class='value'><%= raw showdiff(gundam,version,"manufactory","name") %></td>
      </tr>
      <tr>
        <td class="attribute">所属</td>
        <td class='value'><%= gundam.forces.first.try(:name) %></td>
      </tr>
      <tr>
        <td class="attribute">重量</td>
        <td class='value'><%= raw showdiff(gundam,version,"weight") %></td>
      </tr>
      <tr>
        <td class="attribute">尺寸</td>
        <td class='value'><%= raw showdiff(gundam,version,"measurement") %></td>
      </tr>
      <tr>
        <td class="attribute">出现作品</td>
        <td class='value'><%= raw showdiff(gundam,version,"story","name") %></td>
      </tr>
       <tr>
        <td colspan="4"><%= raw showdiff(gundam,version,"summary") %></td>
      </tr>
      <tr>
        <td class="attribute">内部环境</td>
        <td class='value'><%= raw showdiff(gundam,version,"internal_environment") %></td>
        <td class="attribute">装甲材料及结构</td>
        <td class='value'><%= raw showdiff(gundam,version,"armor") %></td>
      </tr>
      <tr>
        <td class="attribute">发电机出力</td>
        <td class='value'><%= raw showdiff(gundam,version,"output") %></td>
        <td class="attribute">推进力</td>
        <td class='value'><%= raw showdiff(gundam,version,"propulsion") %></td>
      </tr>
      <tr>
        <td class="attribute">加速度</td>
        <td class='value'><%= raw showdiff(gundam,version,"acceleration") %></td>
        <td class="attribute">装备及设计特征</td>
        <td class='value'><%= raw showdiff(gundam,version,"special_equipped") %></td>
      </tr>
      <tr>
        <td class="attribute">固定武装</td>
        <td class='value'><%= raw showdiff(gundam,version,"default_weapon") %></td>
        <td class="attribute">选用武装</td>
        <td class='value'><%= raw showdiff(gundam,version,"selected_weapon") %></td>
      </tr>
      <tr>
        <td class="attribute">选用手部武器</td>
        <td class='value'><%= raw showdiff(gundam,version,"hand_weapon") %></td>
        <td class="attribute">远程武器</td>
        <td class='value'><%= raw showdiff(gundam,version,"ranged_weapon") %></td>
      </tr>
    </table>
</div>
