<div class="row">
  <div class="span9">
    <table class="table table-bordered table-hover">
      <tr>
        <td colspan="2" rowspan="11" width="250px"><div><%= link_to(image_tag(@gundam.avatar_url(:big)), @gundam.avatar_url, class: "cloud-zoom", rel: "adjustX:60,adjustY:0,smoothMove:1") %></div></td>
        <td>年代</td>
        <td><%= "#{@gundam.period.year} #{@gundam.period.name}" %></td>
      </tr>
      <tr>
        <td>型号</td>
        <td><%= @gundam.model %></td>
      </tr>
      <tr>
        <td>英文</td>
        <td><%= @gundam.name %></td>
      </tr>
      <tr>
        <td>日文名</td>
        <td><%= @gundam.name_jp %></td>
      </tr>
      <tr>
        <td>中文名</td>
        <td><%= @gundam.name_chs %></td>
      </tr>
      <tr>
        <td>机体类型</td>
        <td><%= @gundam.usage.try(:name) %></td>
      </tr>
      <tr>
        <td>制造商</td>
        <td><%= @gundam.manufactory.try(:name) %></td>
      </tr>
      <tr>
        <td>所属</td>
        <td><%= @gundam.forces.first.try(:name) %></td>
      </tr>
      <tr>
        <td>重量</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>尺寸</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>出现作品</td>
        <td>&nbsp;</td>
      </tr>
       <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td>内部环境</td>
        <td></td>
        <td>装甲材料及结构</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>发电机出力</td>
        <td></td>
        <td>推进力</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>加速度</td>
        <td></td>
        <td>装备及设计特征</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>固定武装</td>
        <td></td>
        <td>选用武装</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>选用手部武器</td>
        <td></td>
        <td>远程武器</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <%= link_to 'Back', gundams_path %>
  </div>
  <div class="span3">
    <div class="span3" data-spy="affix" data-offset-top="0">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
