<% content_for :header do%>
  <%= javascript_include_tag  "gundams" %>
<%end%>
<div class="row">
  <div class="span9">
    <table class="table table-bordered table-hover">
      <tr>
        <td colspan="2" rowspan="11"><%= link_to(image_tag(@gundam.avatar_url(:big)), @gundam.avatar_url, class: "cloud-zoom", rel: "adjustX:60,adjustY:0,smoothMove:1") %></td>
        <td>年代</td>
        <td><%= year_title @gundam.period %></td>
      </tr>
      <tr>
        <td>型号</td>
        <td><%= @gundam.model %></td>
      </tr>
      <tr>
        <td>英文</td>
        <td><%= @gundam.name %></td>
      </tr>
      <tr>
        <td>日文名</td>
        <td><%= @gundam.name_jp %></td>
      </tr>
      <tr>
        <td>中文名</td>
        <td><%= @gundam.name_chs %></td>
      </tr>
      <tr>
        <td>机体类型</td>
        <td><%= @gundam.usage.try(:name) %></td>
      </tr>
      <tr>
        <td>制造商</td>
        <td><%= @gundam.manufactory.try(:name) %></td>
      </tr>
      <tr>
        <td>所属</td>
        <td><%= @gundam.forces.first.try(:name) %></td>
      </tr>
      <tr>
        <td>重量</td>
        <td><%= @gundam.weight %></td>
      </tr>
      <tr>
        <td>尺寸</td>
        <td><%= @gundam.measurement %></td>
      </tr>
      <tr>
        <td>出现作品</td>
        <td><%= @gundam.story.try(:name) %></td>
      </tr>
       <tr>
        <td colspan="4"><%= @gundam.summary %></td>
      </tr>
      <tr>
        <td>内部环境</td>
        <td><%= @gundam.internal_environment %></td>
        <td>装甲材料及结构</td>
        <td><%= @gundam.armor %></td>
      </tr>
      <tr>
        <td>发电机出力</td>
        <td><%= @gundam.output %></td>
        <td>推进力</td>
        <td><%= @gundam.propulsion %></td>
      </tr>
      <tr>
        <td>加速度</td>
        <td><%= @gundam.acceleration %></td>
        <td>装备及设计特征</td>
        <td><%= @gundam.special_equipped %></td>
      </tr>
      <tr>
        <td>固定武装</td>
        <td><%= @gundam.default_weapon %></td>
        <td>选用武装</td>
        <td><%= @gundam.selected_weapon %></td>
      </tr>
      <tr>
        <td>选用手部武器</td>
        <td><%= @gundam.hand_weapon %></td>
        <td>远程武器</td>
        <td><%= @gundam.ranged_weapon %></td>
      </tr>
    </table>
    <%= link_to 'Upload photos', new_gundam_gundam_photo_path(@gundam), class:"btn btn-primary" %>
    <%= link_to 'Back', gundams_path, class:"btn" %>
    <%= link_to 'Edit', edit_gundam_path(@gundam), class:"btn" %>
    <div id="container">
      <% @gundam_photos.each do |gundam_photo| %>
        <div class="item">
          <a href="<%= gundam_photo.image_url(:big) %>" rel="lightbox" title="my caption"><%= image_tag gundam_photo.image_url(:list), class: "img-polaroid" %></a>
          <br />
          <a href="/gundam_photos/<%= gundam_photo.id %>/avatar" class="btn">设为头像</a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span3">
    <div class="span3" data-spy="affix" data-offset-top="0">
      <h2>About Us</h2>
      <p>We are Gundam fun ~~ and coder</p>
    </div>
  </div>
</div>
<!--
Button to trigger modal
<a href="#edit_form" role="button" class="btn" data-toggle="modal">纠错</a>
 
Modal
<div id="edit_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">编辑</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
-->
