<%= form_for [@gundam, @gundam_photo], :html => { :multipart => true } do |gundam| %>
  <% if @gundam_photo.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@gundam_photo.errors.count, "error") %> prohibited this gundam_photo from being saved:</h2>
      <ul>
      <% @gundam_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= fields_for @gundam_photo do |f| %>
    <%= f.file_field :image %>
  <% end %>
  <div class="actions">
    <%= gundam.submit %>
  </div>
<% end %>